@import '../fonts/IFAI/style.css';
@import 'selectordie.css';
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
body{background:-o-radial-gradient(center, ellipse cover, #b9b9b9 0%, #c4c4c4 100%);background:-moz-radial-gradient(center, ellipse cover, #b9b9b9 0%, #c4c4c4 100%);background:-webkit-radial-gradient(center, ellipse cover, #b9b9b9 0%, #c4c4c4 100%);background:-ms-radial-gradient(center, ellipse cover, #b9b9b9 0%, #c4c4c4 100%)}
header{background-color:#5e1670;border:none;border-bottom:5px solid #391442;color:#391442;width:100%;}
header h1{font-weight:100;color:#fff;padding:.5em;margin:0}
#busqueda{background:rgba(255,255,255,0.6);padding:.8em 0;text-align:center;}
#busqueda button{background-color:#5e1670;border:none;border-bottom:5px solid #391442;color:#fff;font-size:1.6em;padding:.2em 1em;margin:0 0 0 1em;position:relative;top:2px}
#busqueda input{margin:0 0 0 1em;border:none;height:40px;width:40%;-webkit-box-shadow:0 1px 2px #b9b9b9;}
.sod_select{border:none;width:44%;-webkit-box-shadow:0 1px 2px #b9b9b9;}
.sod_select .sod_list_wrapper{border:none;width:101%}
#resultados{overflow:hidden;text-align:center;height:100%;width:100%;}
#resultados .item{background:#fff;-webkit-box-shadow:0 4px 8px #8e9699;display:inline-block;vertical-align:top;overflow:hidden;height:200px;width:450px;margin:1em 4.3em;}
#resultados .item figure{background:#eaeaea;width:200px;height:200px;margin:0;display:inline-block;float:left;overflow:hidden;}
#resultados .item figure img{overflow:hidden;margin:3%;width:94%}
#resultados .item .info{display:inline-block;vertical-align:top;width:250px;}
#resultados .item .info h3{background:#262a2b;width:100%;font-weight:100;text-align:right;margin:0;}
#resultados .item .info h3 button{background-color:#5e1670;border:none;border-bottom:5px solid #391442;color:#fff;font-size:1.2em;margin:.15em 0}
#resultados .item .info .datos{background:url("../img/fondo_datos.jpg");-moz-background-size:100% 100%;-webkit-background-size:100% 100%;height:158px;width:100%;width:250px;padding-top:.5em;}
#resultados .item .info .datos p{color:#af7dbc;text-align:left;margin:0;padding:.5em}
#resultados .item .info .datos .nombre{color:#2d2b2d;font-size:1.2em}
