//	Colro de fuentes
$typo_titulo=#2d2b2d
$typo_subtitulo=#af7dbc

//	Color de fondo
$fondo_gris1=#c4c4c4
$fondo_gris2=#b9b9b9

//    Colores de botones
$follow_boton=#39aa67
$follow_sombra=#2a7a4a

$share_boton=#e8c518
$share_sombra=#af921b

$share_viaje_boton=#60a7c6
$share_viaje_sombra=#32537a

// Otros

$blanco=#ffffff

$morado1=#5e1670

$morado2=#391442

$gris_oscuro=#262a2b

$borde_foto=#eaeaea

$sombra_item=#8E9699